
Search: <input type="text" data-type="tree-search-input" value="" class="input">

<div data-type="tree"></div>

<!--
<button class='edit-node-popover' title="Edit file" href='#'></button>
<div id="edit-node-popover-content" style="display: none">
  <div>This is your div content</div>
</div>
-->