<a href="#openFile">Open Another file</a><br/><br/>

<div class="container-fluid">
	<div class="row">
	  <div class="col-md-4">
		<div data-view="file-tree"></div>
	  </div>
	  <div class="col-md-8">
		<div data-view="file-editor"></div>
	  </div>
	</div>
</div>
